<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="https://unpkg.com/papercss/dist/paper.min.css" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/PSone.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/hack@0.8.1/dist/dark.css" type="text/css" media="screen" /> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> -->
    <script src="https://unpkg.com/htmx.org"></script>

    <title>GoTodo: The Go-Powered Todo App!</title>
    <style type="text/css" media="screen">
      .item-done {
          text-decoration: line-through;
      }
      .item-inProgress {
          background-color: #ffcd39;
      }
    </style>

  </head>

  <body>
    <header>
      <h1>Todos</h1>
      <form id="newTodoForm">
        <!-- short name of todo -->
        <label for="newTodoName">New todo name?</label>
        <input type="text" name="newTodoName" id="newTodoName" required />
        <br />

        <!-- drop down saying what type of todo -->
        <label for="newTodoKind">What kind of todo?</label>
        <select id="newTodoKind" name="newTodoKind" required>
          {{ block "Options" . }}
            {{ $todoKinds := index . 0 }}
              {{ range $key, $strRepresentation := $todoKinds.GetValidKinds }}
              <option value="{{ $key }}">{{ $strRepresentation }}</option>
              {{ end }}
          {{ end }}
        </select>
        <br />

        <!-- longer input for todo desc -->
        <label for="newTodoDesc">Description for new todo?</label>
        <br />
        <textarea name="newTodoDesc" id="newTodoDesc"
                  placeholder="(not mandatory, 2000 char max)"
                  maxlength="2000"></textarea>
        <br />

        <!-- button to turn in new todo -->
        <button hx-post="/createTodo"
                hx-target="#todos"
                hx-swap="innerHTML">
          Create todo!
        </button>
      </form>
    </header>

  <!-- section to allow user to input an item to add -->
  <p>TODO: finish app lol</p>

  <br>
  <!-- section to show the todos that are there -->
  <!-- 🗑 for delete -->
  <!-- ✅for mark done -->
  <main>
    <p>clear for todo, yellow for in progress, strike through for deleted</p>

    <table id="todos">
    {{ block "Todos" . }}
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Kind</th>
        </tr>
      </thead>
      <tbody>
        {{ range $todo := . }}
        <tr class="{{ if $todo.IsDone }}
                   item-done
                   {{ else if $todo.IsInProgress }}
                   item-inProgress
                   {{ end }}">
          <!-- mark todo button -->
          <td>
            <button hx-put="/markTodo/{{ $todo.TodoId }}"
                    hx-target="#todos"
                    hx-swap="innerHTML">
              ✅
            </button>
          </td>
          <td> {{ $todo.Name }} </td>
          <td> {{ $todo.Desc }} </td>
          <td> {{ $todo.Kind }} </td>
          <!-- delete todo button -->
          <td>
            <button class="btn"
                    hx-confirm="Are you sure you want to delete this item?"
                    hx-delete="/delete/{{ $todo.TodoId }}"
                    hx-target="#todos"
                    hx-swap="innerHTML">
              🗑
            </button>
          </td>
        </tr>
        {{ end }}
      </tbody>
    {{ end }}
    </table>
  </main>
  </body>
</html>
