<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="https://unpkg.com/htmx.org"></script>

    <title>GoTodo: The Go-Powered Todo App!</title>
  </head>

  <body>
  <h1>Todos</h1>
  <!-- section to allow user to input an item to add -->
  <p>TODO: finish app lol</p>
  <!-- section to show the todos that are there -->
  <!-- maybe do this with a table? -->


  </body>
</html>
